.settingsSection {
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    opacity: 0.5;
}

.settingsText {
    margin-right: 10px;
    white-space: nowrap;
}

.settingsLink {
    color: #000;
    text-decoration: underline;
    white-space: nowrap;
}

.apiKeyInput, .dropdown {
    flex-grow: 1;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 50px;
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
    height: 40px;
}