.settingsSection {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  opacity: 0.5;
}

.settingsText {
  margin-right: 10px;
  white-space: nowrap;
  flex: 1;
}

.settingsLink {
  color: #000;
  text-decoration: underline;
  white-space: nowrap;
}

.apiKeyInput, .dropdown {
  flex-grow: 1;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 40px;
}

.settingsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.switchToggleContainer {
  flex: 0 0 150px;
  width: 150px;
}

.switchToggle {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  padding: 0;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

.toggleOption {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 100%;
  line-height: 40px;
  font-size: 14px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.inactiveOption {
  color: black;
  opacity: 0.5;
  background: #e5e5e5;
  transition: all 0.3s ease;
}

.activeOption {
  color: black;
  background: white;
  transition: all 0.3s ease;
}

.settingsHeader {
  font-size: 1.2rem;
  color: #2c2c2c;
  padding-bottom: 8px;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}